body {
    font-size: 2em;
    font-weight: bold;
    background-image: url('grumpcat.jpg');
    background-size: 400px;
    background-position: center;
}

h1 {
  text-align: center;
  color: orange;
  text-shadow: 2px 2px 2px black;

}


#attack, #again {
    display: block;
    margin: 0 auto;
    box-shadow: 8px 5px 3px black;
    font-size: 1em;
}

#fightresults {
   text-align: center;
   font-size: 2em;
   color: orange;
   text-shadow: 2px 2px 2px black;
}





