body {
    font-size: 2em;
 /*   background-image: url('hellcat.jpg');*/
/*
 background-image: url('hellcat.jpg');
    background-repeat: no-repeat;
    background-position: top;*/
    background-color: rgba(255, 0, 255, 0.4);
    font-weight: bold;
}

span {
    background-color: pink;
    padding: 5px;
    border-radius: 25px;
}
/*
span:hover {
    background-color: hotpink;
    padding: 5px;
    border-radius: 25px;
}

/*a:hover {
    background-color: hotpink;
}*/

.spacer{
    margin-top: 50px;
  /*  background-image: url('hellcat.jpg');*/
}



.input {
    box-shadow: 8px 5px 3px black;
    font-weight: bold;
    color: black;
    margin-top: 5px;

}

.dropdown {
    margin-top: 10px;
    box-shadow: 8px 5px 3px black;
}


.dropdown-menu {
  margin-top: 30px;

}

.container {
    margin-bottom: 25px;
}

#cont2 {
    margin-top: -70px;
}

#attack, #again {
    display: block;
    margin: 0 auto;
}

#fighter1stats, #fighter2stats {
   margin-top: 10px;
   font-size: 1em;
}

.butt {

    box-shadow: 8px 5px 3px black;
    font-size: 1em;
    height: 50px;
}

#fightresults {
   text-align: center;
   font-size: 3em;
}

.divButt {
     display: block;
    margin: 0 auto;
}
